<%- include('header') %>

<%- include('nav')%>
        <div class="blogname">
            <h1>ACDEMY</h1>
        </div>
        <div class="head">
            <h1>Unlocking the World of Free Learning and Internship Opportunities</h1>
            
        </div>
        <div class="knowmore">
            <button class="reg" href="#acd">
              Know More
            </button>
        </div>
        <section>
            <div class="container">
                <div class="card">
                  <div class="box">
                    <div class="content">
                      <h2></h2>
                      <h3>Free Courses</h3>
                      <p>"We assist in locating free courses offered worldwide."</p>
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="box">
                    <div class="content">
                      <h2></h2>
                      <h3>Free Internship</h3>
                      <p>"We assist in locating free Internships offered worldwide."</p>
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="box">
                    <div class="content">
                      <h2></h2>
                      <h3>Daily Updates</h3>
                      <p>"We provide daily updates on technical news, courses, and technical information."</p>
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
        </section>
    </div>
</header>
<div class="acd">
  <h1 id="acd">What is <SPAN>ACDEMY</SPAN>?What is Our Mission?</h1>
  <p>Acdemy is a comprehensive online platform dedicated to curating and showcasing a vast array of free courses, internships, and the latest tech-related news from across the globe. With a mission to empower learners and tech enthusiasts, Acdemy serves as a one-stop destination for individuals seeking to enhance their knowledge and skills in various fields of technology. Whether you're interested in coding, data science, cybersecurity, or any other tech domain, Acdemy brings together a diverse range of educational resources, making it easier than ever to access high-quality learning opportunities at no cost. Additionally, Academy keeps you informed about the ever-evolving tech landscape by providing up-to-date news and insights on emerging technologies, industry trends, and groundbreaking innovations. By offering this valuable information in one place, Acdemy strives to foster a global community of lifelong learners and tech enthusiasts who are passionate about staying ahead in the fast-paced world of technology.</p>
</div>
<div class="selectdiv" ><h1>Select a course & start learning</h1></div>

<%- include('footer') %>