<header>
    <div id="brand"><a href="/">Acdemy</a></div>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/Tools">Tools</a></li>
        <li><a href="/Blog">Blog</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/Blog">About us</a></li>
        <button class="log"><a class="buttona" href="/">Logout</a></button>

      </ul>
    </nav>
    <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
      <ul class="mobile-menu">
        <li><a href="/home">Home</a></li>
        <li><a href="/Tools">Tools</a></li>
        <li><a href="/Blog">Blog</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/Blog">About us</a></li>
      </ul>
    </div>
  </header>