
<%- include('header') %>
<div class="login_title">
    <h1>Acdemy</h1>
</div>
<div id="algn">
    <div id="container">
        <p class="head">SIGN UP</p>
        <!-- <form action="/signup" method="post" class="input-container">
            <input type="email" placeholder="Enter email" name="email" class="inpt " required>
            <input type="password" placeholder="Enter password" name="password" class="inpt " required>
            <button type="submit" value="submit" class="btn">Sign Up</button>
        </form>
        <p class="footer">Do you have account already? <a href="/">signin</a></p> -->


 <form ction="/signup" method="post" class="input-container">
            <input type="text" class="inpt " placeholder="Enter the Name" name="name" />
            <input type="email" placeholder="Enter email" name="email" class="inpt " required>
            <input type="password" placeholder="Enter password" name="password" class="inpt " required>
            <button type="submit" value="submit" class="btn">Get Started</button>
            
        </form>
            <p class="footer">Do you have account already? <a href="/">signin</a></p>
    </div>
    </div>




   

    <%- include('footer') %>